In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 42 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 67.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=c053746ba9aaebc87a1a296b0b00a0b26a24510db403d70c06b99fb7db7bc3c6
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [13]:
from pyspark.sql import SparkSession

In [14]:
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [15]:
people = spark.read.option("header", "true").option("inferSchema", "true")\
    .csv("/content/drive/MyDrive/SparkCourse/fakefriends-header.csv")

In [16]:
data = people.select("age","friends")

In [17]:
data.select("age","friends").show()

+---+-------+
|age|friends|
+---+-------+
| 33|    385|
| 26|      2|
| 55|    221|
| 40|    465|
| 68|     21|
| 59|    318|
| 37|    220|
| 54|    307|
| 38|    380|
| 27|    181|
| 53|    191|
| 57|    372|
| 54|    253|
| 56|    444|
| 43|     49|
| 36|     49|
| 22|    323|
| 35|     13|
| 45|    455|
| 60|    246|
+---+-------+
only showing top 20 rows

In [18]:
from pyspark.sql import Row
from pyspark.sql import functions as func

In [19]:
data.groupBy("age").agg(func.round(func.avg("friends"),2).alias("friends_avg")).sort("age").show()

+---+-----------+
|age|friends_avg|
+---+-----------+
| 18|     343.38|
| 19|     213.27|
| 20|      165.0|
| 21|     350.88|
| 22|     206.43|
| 23|      246.3|
| 24|      233.8|
| 25|     197.45|
| 26|     242.06|
| 27|     228.13|
| 28|      209.1|
| 29|     215.92|
| 30|     235.82|
| 31|     267.25|
| 32|     207.91|
| 33|     325.33|
| 34|      245.5|
| 35|     211.63|
| 36|      246.6|
| 37|     249.33|
+---+-----------+
only showing top 20 rows

In [9]:
spark.stop()