In [3]:
from numpy import datetime_as_string
from datetime import date
import pandas as pd

dic_names = {'Name':'NAME', 'Age':'AGE', 'School':'SCHOOL', 'Country':'COUNTRY', 'height':'HEIGHT', 'birthday':'BIRTHDAY'}
dic_types = {'AGE':int, 'HEIGHT':float, 'BIRTHDAY':'date'}
dic_types_column = {}
dic_types_dates = {}
#dic_types_dates = {'BIRTHDAY'}
# assign data of lists.
data = {'Name': ['Tom', 'Joseph', 'Krish', 'John']
    , 'Age': ['20', '21', '19', '18']
    , 'School': ['Oxford','Cambrich','Sorbone','UNI']
    , 'Country': ['Nicaragua','Peru','Costa Rica','Guatemala']
    , 'height': ['1.55','1.67','1.71','1.54']
    , 'birthday': ['2000-11-15 15:00', '1999-10-31 18:45', '1989-10-31 20:46', '1959-08-20 22:46']}

# Create DataFrame
df = pd.DataFrame(data)

# Print the output.
print(df)
print()
print(df.dtypes)

# Rename dataframe columns
df.rename(columns=dic_names, inplace=True)

# convert columns
for key, value in dic_types.items():
  if(value == 'date'):
    dic_types_dates[key] = value
  else:
    dic_types_column[key] = value

# convert native types
df = df.astype(dic_types_column)

# Convert dates
for key in dic_types_dates:
    df[key] = pd.to_datetime(df[key])

print('---------------------')

print(df)
print()
print(df.dtypes)

     Name Age    School     Country height          birthday
0     Tom  20    Oxford   Nicaragua   1.55  2000-11-15 15:00
1  Joseph  21  Cambrich        Peru   1.67  1999-10-31 18:45
2   Krish  19   Sorbone  Costa Rica   1.71  1989-10-31 20:46
3    John  18       UNI   Guatemala   1.54  1959-08-20 22:46

Name        object
Age         object
School      object
Country     object
height      object
birthday    object
dtype: object
---------------------
     NAME  AGE    SCHOOL     COUNTRY  HEIGHT            BIRTHDAY
0     Tom   20    Oxford   Nicaragua    1.55 2000-11-15 15:00:00
1  Joseph   21  Cambrich        Peru    1.67 1999-10-31 18:45:00
2   Krish   19   Sorbone  Costa Rica    1.71 1989-10-31 20:46:00
3    John   18       UNI   Guatemala    1.54 1959-08-20 22:46:00

NAME                object
AGE                  int64
SCHOOL              object
COUNTRY             object
HEIGHT             float64
BIRTHDAY    datetime64[ns]
dtype: object